.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.star-rating__input {
    display: none;
}

.star-rating__star {
    color: grey;
    font-size: 2em;
    cursor: pointer;
}

.star-rating__input:checked ~ .star-rating__star {
    color: #D92332;
}

.card-body .star-rating__star {
    color: #D92332;
}

#star {
    color: #D92332;
}

#review_submit {
    width: 15%;
}

.review-btn {
    text-align: center;
    justify-content: center;
}

.form-note, .star-rating {
    display: inline-block;
    text-align: center;
    justify-content: center;
    vertical-align: sub;
}
