{% extends 'base.html.twig' %}

{% block body %}

    <div style="height: 53vh;" class="mb-5 mt-4 ms-5">
        <h1>Accès interdit</h1>

        <p class="mt-5">
            Désolé, mais vous n'avez pas les permissions pour accéder à cette page. Si vous pensez que c'est une erreur,
            veuillez contacter l'administrateur du site.
        </p>
    </div>
{% endblock %}