{% extends 'base.html.twig' %}

{% block body %}
    <div style="height: 53vh;" class="mb-5 mt-4 ms-5">
        <h1>Accès non autorisé</h1>

        <p class="mt-5">
            On dirait que vous n'êtes pas connecté ou que vous n'avez pas les bonnes autorisations pour accéder à cette
            page. Veuillez vous connecter et réessayer.
        </p>
    </div>
{% endblock %}