{% extends 'base.html.twig' %}

{% block body %}

    <div style="height: 53vh;" class="mb-5 mt-4 ms-5">
        <h1>Requête incorrecte</h1>

        <p class="mt-5">
            Désolé, mais nous n'avons pas pu comprendre votre demande. Vérifiez que tout est correctement saisi et
            réessayez.
        </p>
    </div>
{% endblock %}