{% extends 'base.html.twig' %}

{% block body %}

    <div style="height: 53vh;" class="mb-5 mt-4 ms-5">
        <h1>Erreur interne du serveur</h1>

        <p class="mt-5">
            Il semble que quelque chose ne va pas de notre côté. Nos techniciens sont en train de résoudre le problème.
            Veuillez essayer de nouveau plus tard.
        </p>
    </div>
{% endblock %}
