{% extends 'base.html.twig' %}

{% block body %}

    <div style="height: 53vh;" class="mb-5 mt-4 ms-5">
        <h1>Service indisponible</h1>

        <p class="mt-5">
            Nous nous excusons pour le désagrément, mais notre service est actuellement indisponible. Nous travaillons
            pour
            résoudre le problème aussi rapidement que possible. Veuillez réessayer plus tard.
        </p>
    </div>
{% endblock %}